gateway-builds/bootc/output/
in-development/
hold/
ignore/
*.tar
images/execution-environment/shimx64.efi
images/execution-environment/grubx64.efi
.DS_Store
render/
.claude/
CLAUDE.md
install.iso
install-bootstrap.iso
rhel-9.6-x86_64-boot.iso
images/bootstrap/overlay/etc/microshift/manifests.d/dashboard
kickstarts/advantech.ks
iona/
