# --- GLOBAL MENU SETTINGS ---
set timeout=60
set default="1"
set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

# --- MENU OPTION 1: Boot Local OS ---
menuentry 'Boot Local Hard Drive' {
    echo "Exiting PXE and continuing to local boot devices..."
    exit
}

# --- MENU OPTION 2 (DEFAULT): OpenShift Installer ---
menuentry 'Deploy OCP Cluster' {
    echo "Loading OpenShift Kernel..."
    linuxefi /agent.x86_64-vmlinuz coreos.live.rootfs_url=http://pubsrv-network-install.apps.bootstrap.BASE_DNS_ZONE/agent.x86_64-rootfs.img random.trust_cpu=on rd.luks.options=discard ignition.firstboot ignition.platform.id=metal console=tty0 nameserver=10.26.100.1
    echo "Loading Initial RAM Disk..."
    initrdefi /agent.x86_64-initrd.img
}
